#process {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20%;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 25px;
    margin-right: 5%;
}

#process h2{
    color: rgba(255, 153, 0, 1);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    margin-bottom: 30px;
    margin-left: 80px;
}
/* #processInstruction{
    font-size: 22px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
} */

#smiles{
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 500px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
} 
  
#confused-pic, #repeat-pic, #good-pic, #like-pic{
    width: 80px;
    height: 80px;
    display: flex;
    margin-left: 0px;
    cursor: pointer;
}
  
#consentrate-pic, #frustrated-pic, #success-pic{
    width: 110px;
    height: 85px;
    display: block;
    display: flex;
    margin-left: 0px;
    cursor: pointer;
}
  
#good-pic{
    padding-left: 15px;
    padding-right: 15px;
}
  
#success-pic{
    padding-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
}
  
a:hover {
    position: relative;
}
  
a[data]:hover:after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data);
    padding: 4px 8px;
    color: black;
    position: absolute;
    right: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 1;
    border-radius: 5px ;
    background: rgba(255, 213, 149, 1);
}

#close{
    background-color: blanchedalmond;
    border: 3px solid black;
    width: 700px;
    height: 100px;
    display: none;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
}

#close p{
    text-align: center;
}

#close a{
    cursor: pointer;
    margin-right: 5px;
}

#close a:active{
    color: black;
}

#close a:visited{
    color: black;
}

@media (min-width: 375px) and (max-width: 828px){
    @font-face {
      font-family: 'Rubik', sans-serif;
      font-family: 'Varela Round', sans-serif;
      src: url('assets/fonts/rubik-variablefont_wght-webfont.eot');
      src: url('assets/fonts/rubik-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
           url('assets/fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
           url('assets/fonts/rubik-variablefont_wght-webfont.woff') format('woff'),
           url('assets/fonts/rubik-variablefont_wght-webfont.ttf') format('truetype'),
           url('assets/fonts/rubik-variablefont_wght-webfont.svg#rubiklight') format('svg');
    }

    #process {
        padding-top: 20px;
        padding-bottom: 70px;
        background-image: url(assets/icon/luahShaam.jpg);
        background-color: lightslategray;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20%;
        margin-bottom: 10px;
        line-height: 30px;
        font-size: 25px;
        margin-right: 0px;
    }
    
    #process-instruction{
        font-size: 22px;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    #smiles{
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        width: 400px;
        margin-bottom: 20px;
        height: 50px;
        justify-content: space-around;
        align-items: center;
        margin-left: 10px;
    } 
      
    #confused-pic, #repeat-pic, #good-pic, #like-pic{
        width: 60px;
        height: 60px;
        display: flex;
        margin-left: 0px;
        cursor: pointer;
    }
      
    #consentrate-pic, #frustrated-pic, #success-pic{
        width: 90px;
        height: 65px;
        display: block;
        display: flex;
        margin-left: 0px;
        cursor: pointer;
    }
      
    #goodPic{
        padding-left: 15px;
        padding-right: 15px;
    }
      
    #successPic{
        padding-left: 10px;
        margin-right: 10px;
    }
    
    a {
        text-decoration: none;
    }
      
    a:hover {
        position: relative;
    }
      
    a[data]:hover:after {
        content: attr(data);
        padding: 4px 8px;
        color: black;
        position: absolute;
        right: 0;
        top: 100%;
        white-space: nowrap;
        z-index: 2;
        border-radius: 5px ;
        background: lightgray;
    }
}