* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightpink;
  direction: rtl;
  font-size: 20px;
  font-family: "calibri";
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#personalNote {
  background-color: hsl(315, 40%, 70%);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20%;
  margin-bottom: 10px;
}

pre {
  margin-top: 10px;
  font-family: "calibri";
  font-size: 30px;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

#tableMultiply {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: hsl(315, 60%, 70%);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20%;
  margin-bottom: 10px;
}
#readyToCheck{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    right: 30px;
    width: 400px;
    font-size: 22px;
    margin-right: -30px;
}

caption {
  font-size: 40px;
  margin-bottom: 10px;
}

#practice {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: hsl(315, 80%, 70%);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20%;
  margin-bottom: 10px;
}

#checkAnswer {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  padding-right: 10px;
  padding-left: 10px;
}

#playagain {
  margin-top: 20px;
}

#process {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: hsl(315, 100%, 70%);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20%;
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 25px;
}

input {
  width: 40px;
  font-size: 20px;
  text-align: center;
  font-family: "calibri";
}

textarea {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "calibri";
  font-size: 20px;
  display: flex;
  text-align: right;
  flex-wrap: wrap;
}

button {
  font-family: "calibri";
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: black;
}

button:hover {
  background-color: palevioletred;
  transition-duration: 1s;
  cursor: pointer;
}

#sendPerson {
  width: 40%;
}

table {
  width: fit-content;
  font-size: 30px;
}

#res {
  width: 75px;
  direction: rtl;
  text-align: center;
}

#nice {
  width: 300px;
}

#resultShow {
  width: 65px;
  direction: rtl;
  text-align: center;
  border-color: purple;
}

#processForm{
    font-size: 22px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#processFormP{
    margin-top: -50px;
}


#sendMail {
  font-family: "calibri";
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: black;
  width: 200px;
  margin-right: 80px;
}

#sendMail:hover {
  background-color: palevioletred;
  transition: 1s;
  cursor: pointer;
}

@font-face {
  font-family: 'calibri';
      src: url('fonts/calibri_font/calibri_font.eot') format('embedded-opentype'); /* IE9 + later */
      src: url('fonts/calibri_font/calibri_font.eot?#iefix') format('embedded-opentype'), /* IE6 to IE8  */
           url('fonts/calibri_font/calibri_font.woff') format('woff'),  /* Newer browsers */
           url('fonts/calibri_font/calibri_font.ttf') format('truetype'), /* Safari og iOS, Chrome, Android, Firefox and Opera except Opera Mini  */
  }

@media (max-width: 375px){
    #personalNote{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1, pre{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    h1{
        font-size: 30px;
        margin-top: 10px;
    }

    #tableMultiply{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #numberSize{
        font-size: 15px;
    }

    #numberSizeTd{
        font-size: 15px;
        color: black;
        font-weight: bold;
    }

    #tableShow input, #readyToCheck{
        width: 90%;
        text-align: center;
        font-size: 18px;
    }  

    #readyToCheck{
        margin-top: 20px;
        margin-right: -10px;
        width: 85%;
    }

    #practice{
        width: 100%;
        display: flex;
    }

    #checkAnswer, #playagain{
        font-size: 18px;
    }

    #process{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #processForm{
        font-size: 18px;
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #tellingStroy{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;
        padding: 5px;
        margin-bottom: 20px;
        width: 90%;
        height: 120px;
        float: right;
        text-align: right;
    }

    label{
        font-size: 20px;
    }

    #sendMail{
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        font-size: 20px;
    }

}



