.open-paragraph{
    width: 90%;
    margin-bottom: 10px;
    margin-right: 5%;
    border-radius: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #user-name-input{
    width: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    border-color: rgba(232, 232, 232, 1);
    background-color: rgba(232, 232, 232, 1);
  }
  
  #user-name-input:hover{
    background-color: rgba(255, 213, 149, 1);
    transition: 1s;
  }

  #welcome{
    margin-top: 10px;
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
  }
  
  pre {
    margin-top: 10px;
    margin-right: -150px;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    line-height: 40px;
  }

@media (min-width: 375px) and (max-width: 828px){
  .open-paragraph{
    width: 100%;
    margin-right: 0px;
    background-color: lightslategrey;
    margin-bottom: 10px;
    border-radius: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headers{
    margin-top: 10px;
  }
  
  #user-name-input{
    width: max-content;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
  }
  
  #user-name-input:hover{
    background-color: lightsteelblue;
    transition: 1s;
  }
  
  pre {
    margin-top: 10px;
    margin-right: -100px;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    line-height: 40px;
  }
}

