.openParagraph{
    width: 90%;
    background-color: lightslategrey;
    margin-bottom: 10px;
    margin-right: 5%;
    border-radius: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #userNameInsertion{
    width: max-content;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
  }
  
  #userNameInsertion:hover{
    background-color: lightsteelblue;
    transition: 1s;
  }
  
  pre {
    margin-top: 10px;
    margin-right: -150px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    line-height: 40px;
  }

@media (min-width: 375px) and (max-width: 828px){
  @font-face {
    font-family: 'Rubik', sans-serif;
    font-family: 'Varela Round', sans-serif;
    src: url('assets/fonts/rubik-variablefont_wght-webfont.eot');
    src: url('assets/fonts/rubik-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
          url('assets/fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
          url('assets/fonts/rubik-variablefont_wght-webfont.woff') format('woff'),
          url('assets/fonts/rubik-variablefont_wght-webfont.ttf') format('truetype'),
          url('assets/fonts/rubik-variablefont_wght-webfont.svg#rubiklight') format('svg');
  }

  .openParagraph{
    width: 100%;
    margin-right: 0px;
    background-color: lightslategrey;
    margin-bottom: 10px;
    border-radius: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headers{
    margin-top: 10px;
  }
  
  #userNameInsertion{
    width: max-content;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
  }
  
  #userNameInsertion:hover{
    background-color: lightsteelblue;
    transition: 1s;
  }
  
  pre {
    margin-top: 10px;
    margin-right: -100px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    line-height: 40px;
  }
}

