.navigationBar{
    display: flex;
    width: max-content;
    margin-right: 25%
}

#transitionToMuliplicationBoard, #transitionToPracticeExercises, #transitionToHowWas{
    width: max-content;
    height: max-content;
    background-color: lightslategray;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
    display: flex;
}

#navigationBarLink:link{
    color: black;
    text-decoration: none;
}

#navigationBarLink:active{
    color: black;
}

#navigationBarLink:visited{
    color: black;
}

#thumbtack{
    width: 30px;
    height: 30px;
    margin-right: -10px;
    margin-top: -10px;
    display: flex;
}

@media (min-width: 375px) and (max-width: 828px){
    @font-face {
      font-family: 'Rubik', sans-serif;
      font-family: 'Varela Round', sans-serif;
      src: url('assets/fonts/rubik-variablefont_wght-webfont.eot');
      src: url('assets/fonts/rubik-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
           url('assets/fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
           url('assets/fonts/rubik-variablefont_wght-webfont.woff') format('woff'),
           url('assets/fonts/rubik-variablefont_wght-webfont.ttf') format('truetype'),
           url('assets/fonts/rubik-variablefont_wght-webfont.svg#rubiklight') format('svg');
    }

    .navigationBar{
        display: flex;
        width: max-content;
        margin-right: 15px;
    }
    
    #transitionToMuliplicationBoard, #transitionToPracticeExercises, #transitionToHowWas{
        width: max-content;
        height: max-content;
        background-color: lightslategray;
        font-weight: bolder;
        font-size: 16px;
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        margin-bottom: 15px;
        padding-left: 20px;
        display: flex;
    }
    
    #navigationBarLink:link{
        color: black;
        text-decoration: none;
    }
    
    #navigationBarLink:active{
        color: black;
    }
    
    #navigationBarLink:visited{
        color: black;
    }
    
    #thumbtack{
        width: 30px;
        height: 30px;
        margin-right: -10px;
        margin-top: -10px;
        display: flex;
    }

    .multiplicationBoardVideo{
        width: 95%;
        margin-right: 10px;
    }


}