#practice {
    width: 90%;
    margin-right: 5%;
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20%;
    margin-bottom: 10px;
}

#practice h1{
    color: rgba(255, 153, 0, 1);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#checkboxExercise{
    direction: rtl;
    display: flex;
    margin-top: 10px;  
}

#checkUserAnswer {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(255, 213, 149, 1);
    border-color: rgba(255, 213, 149, 1);;
}

#randomExercise{
    display: none;
    direction: ltr;
    width: 300px;
    margin-top: 10px;
    margin-left: 50px;
}

#firstFactor, #secondFactor{
    /* background-image: url(assets/icon/luahShaam.jpg); */
    background-color: rgba(232, 232, 232, 1);
    border: hidden;
    direction: rtl;
    text-align: center;
    padding-right: 10px;
    margin: 0px;
    width: 40px;
}
  
#secondFactor{
    padding-right: 10px;
}
  
#playagain {
    margin-top: 20px;
    background-color: rgba(255, 213, 149, 1);
    border-color: rgba(255, 213, 149, 1);;
}

#resultRandomExercise {
    width: 130px;
    direction: rtl;
    text-align: center;
    padding-right: 10px;
    background-color: rgba(232, 232, 232, 1);
    border-color: rgba(232, 232, 232, 1);
}
  
#showResultExercise {
    width: 65px;
    direction: rtl;
    text-align: center;
    background-color: rgba(255, 213, 149, 1);
    border-color: rgba(255, 213, 149, 1);
    margin-top: 25px;
    margin-left: 40px;
}

@media (min-width: 375px) and (max-width: 828px){
    @font-face {
      font-family: 'Rubik', sans-serif;
      font-family: 'Varela Round', sans-serif;
      src: url('assets/fonts/rubik-variablefont_wght-webfont.eot');
      src: url('assets/fonts/rubik-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
           url('assets/fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
           url('assets/fonts/rubik-variablefont_wght-webfont.woff') format('woff'),
           url('assets/fonts/rubik-variablefont_wght-webfont.ttf') format('truetype'),
           url('assets/fonts/rubik-variablefont_wght-webfont.svg#rubiklight') format('svg');
    }

    #practice {
        width: 100%;
        margin-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        /* background-image: url(assets/icon/luahShaam.jpg); */
        background-color: lightslategray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20%;
        margin-bottom: 10px;
    }
    
    #checkboxExercise{
        direction: rtl;
        display: flex;
        margin-top: 10px;  
    }
    
    #checkUserAnswer {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 22px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    #randomExercise{
        display: none;
        direction: ltr;
        width: 300px;
        margin-top: 5px;
        margin-left: 100px;
    }
    
    #firstFactor, #secondFactor{
        /* background-image: url(assets/icon/luahShaam.jpg); */
        background-color: white;
        border: hidden;
        direction: rtl;
        text-align: justify;
        padding-left: -30px;
        margin: 0px;
        width: 30px;
    }
      
    #secondFactor{
        width: 30px;
        padding-right: 15px;
    }
      
    #playagain {
        margin-top: 20px;
    }
    
    #resultRandomExercise {
        width: 130px;
        direction: rtl;
        text-align: center;
        padding-right: 10px;
    }
      
    #showResultExercise {
        width: 65px;
        direction: rtl;
        text-align: center;
        border-color: purple;
        margin-top: 15px;
        margin-left: 70px;
    }
}