#multiplication-board{
    margin-top: 30px;
    /* background-image: url(assets/icon/luahShaam.jpg); */
    /* background-color: lightslategrey; */
    width: 90%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20%;
    margin-bottom: 10px;
}

#multiplication-board h1{
    color: rgba(255, 153, 0, 1);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    margin-top: 20px;
    margin-bottom: 30px;
}

#instruction-multiplication-board{
    margin-top: 10px;
    margin-bottom: 10px;
}

#new-record{
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 22px;
}

#score-multiplication-board{
    display: flex;
    margin-top: 5px;
    margin-right: -250px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -30px;
    font-size: 20px;
}

#score-multiplication-board p{
    margin-right: -5x;
    font-weight: bolder;
}

#input-score-multiplication-board{
    padding-right: 0px;
    margin-left: 5px;
    direction: rtl;
    width: 50px;
    border-style: hidden;
    font-weight: bolder;
    color: black;
    font-size: 25px;
}

.stopwatch{
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
    padding-top: 25px;
  }
  
.rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 120px;
    border: 2px solid;
    margin-left: -320px;
    margin-top: -30px;
}

.time{
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 25px;
}

.controls{
    display: flex;
    justify-content: space-between;
    width: 187px;
    margin-left: -250px;
    margin-top: -40px;
}

#resetButton, #pauseButton, #playButton{
    width: 40px;
    height: 40px;
}

.buttonPlay, .buttonReset{
    height: 0px;
    cursor: pointer;
    background: none;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
}

.buttonPlay{
    margin-top: 0px;
    margin-left: -50px;
}

.buttonReset{
    margin-top: 0px;
    margin-right: 20px;
}

#playButton{
    display: block;
}

#pauseButton{
    display: none;
}

#multiplication-board-table{
    width: fit-content;
    font-size: 30px;
    direction: ltr;
}

#multiplication-board-table input{
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    background-color: blanchedalmond;
    line-height: 30px;
    margin: 0px 5px
}



#horizontal-number{
    font-size: 20px;
    color: black;
}

#vertical-number{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

#check-table-results{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0px 5px;
    height: 40px;
    display: flex;
    right: 30px;
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    background-color: rgba(255, 213, 149, 1);
    border-color: rgba(255, 213, 149, 1);;
}

#reset-table-input{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 20px;
    margin-right: 180px;
    font-size: 20px;
    cursor: pointer;
}

#next-level-practice {
    display: none;
    width: max-content;
    font-weight: bold;
    background-color: rgba(255, 213, 149, 1);
    border-color: rgba(255, 213, 149, 1);
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 38%;
    padding-right: 10px;
    padding-left: 10px;
    height: 35px;
}

@media (min-width: 375px) and (max-width: 828px){
    @font-face {
      font-family: 'Rubik', sans-serif;
      font-family: 'Varela Round', sans-serif;
      src: url('assets/fonts/rubik-variablefont_wght-webfont.eot');
      src: url('assets/fonts/rubik-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
           url('assets/fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
           url('assets/fonts/rubik-variablefont_wght-webfont.woff') format('woff'),
           url('assets/fonts/rubik-variablefont_wght-webfont.ttf') format('truetype'),
           url('assets/fonts/rubik-variablefont_wght-webfont.svg#rubiklight') format('svg');
    }

    #multiplication-board{
        margin-top: 20px;
        padding-bottom: 20px;
        /* background-image: url(assets/icon/luahShaam.jpg); */
        background-color: lightslategrey;
        width: 100%;
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20%;
        margin-bottom: 10px;
    }
    
    #instruction-multiplication-board{
        line-height: 40px;
        margin-bottom: 10px;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
    
    #score-multiplication-board{
        display: flex;
        margin-top: 5px;
        margin-right: -200px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: -30px;
        font-size: 16px;
    }
    
    #score-multiplication-board p{
        margin-right: -5x;
    }
    
    #input-score-multiplication-board{
        padding-right: 0px;
        margin-left: 5px;
        direction: rtl;
        width: 50px;
        border-style: hidden;
        /* background-image: url(assets/icon/luahShaam.jpg); */
        background-color: lightslategray;
        font-weight: bolder;
        color: black;
        font-size: 25px;
    }
    
    .stopwatch{
        display: grid;
        justify-items: center;
        grid-row-gap: 23px;
        width: 100%;
        padding-top: 25px;
      }
      
    .rectangle{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 120px;
        border: 2px solid;
        margin-left: -180px;
        margin-top: -30px;
    }
    
    .time{
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
        font-size: 25px;
    }
    
    .controls{
        display: flex;
        justify-content: space-between;
        width: 187px;
        margin-left: -160px;
        margin-top: -35px;
    }
    
    #resetButton, #pauseButton, #playButton{
        width: 40px;
        height: 40px;
    }
    
    .buttonPlay, .buttonReset{
        height: 0px;
        cursor: pointer;
        background: none;
        padding: 0;
        border: none;
        margin: 0;
        outline: none;
    }
    
    .buttonPlay{
        margin-top: 0px;
        margin-left: -20px;
    }
    
    .buttonReset{
        margin-top: 0px;
    }
    
    #playButton{
        display: block;
    }
    
    #pauseButton{
        display: none;
    }
    
    #multiplication-board-table{
        width: 50px;
        font-size: 12px;
        direction: ltr;
    }

    #multiplication-board-table input{
        width: 30px;
        font-size: 15px;
        direction: ltr;
    }
    
    #horizontal-number{
        font-size: 16px;
        color: black;
    }
    
    #vertical-number{
        font-size: 16px;
        color: black;
        font-weight: bold;
    }
    
    #check-table-results{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 40px;
        padding-right: 3px;
        padding-left: 3px;
        height: 30px;
        display: flex;
        width: max-content;
        font-size: 16px;
        margin-left: 170px;
    }
    
    #reset-table-input{
        width: max-content;
        padding-right: 3px;
        padding-left: 3px;
        height: 30px;
        display: flex;
        flex-direction: row;
        direction: rtl;
        justify-content: center;
        align-items: center;
        margin-top: -40px;
        margin-right: 230px;
        font-size: 16px;
    }


}