#top-banner{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
    background-color: rgba(255, 213, 149, 1);
    background-repeat: no-repeat;
}

#logo{
  display: flex;
  width: 180px;
  height: 180px;
  margin-top: 40px;
}

@media (min-width: 375px) and (max-width: 828px){
  @font-face {
    font-family: 'Varela Round', sans-serif;
  }

  #topBanner{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-color: lightslategrey;
    background-repeat: no-repeat;
  }

}
